spring:
 datasource:
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://127.0.0.1:3306/zqc_life_record?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false
      username: root
      password: root
      filters: stat
      maxActive: 20
      initialSize: 1
      maxWait: 60000
      minIdle: 1
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: select 'x'
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20
      maxOpenPreparedStatements: 20
 #mybaits-plus
 mybatis-plus:
    mapper-locations: /mybatis/mapper/*Mapper.xml,/mybatis/mapper/*/*Mapper.xml
    typeAliasesPackage: com.zqc.pojo
    global-config:
      id-type: 0
      field-strategy: 1
      db-column-underline: true
      refresh-mapper: true
    configuration:
      map-underscore-to-camel-case: true
      cache-enabled: true